@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    padding: auto;
    font-family: 'Open Sans', sans-serif;
	background-color: rgb(1, 1, 34);
    color: aliceblue;
	
}
h1{
	text-align: center;
}
/*-------Config barra navegacion--------*/
.nav-enlace{
	display: inline-block;
	background-color: rgb(4, 12, 82);
	color: white;
	padding: 10px 30px;
	text-decoration: none;
}
.nav-enlace:hover{
	background-color: black;
}
nav{
	background: rgb(1, 1, 58);
	padding: 10px;
	display: flex;
	justify-content:space-around;

}

@media (max-width: 600px) {
	nav{
		flex-direction: column;

	}
}